@using WebSiteBanHang.Models;

@*Chuyển IEnumerable thành List*@
@model List<itemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<style>
      #ss{
        display: none;
        position: fixed;
        left: 50px;
        animation: mymove 2s infinite;

      }
      @@keyframes mymove {
      from {bottom: 5pc;}
      to {bottom:  8pc}
    }
</style>
@if (Model.Count <= 0 || Model == null)
{
    <h1 style="color:red;text-align:center;font-weight:bold">GIỎ HÀNG RỖNG</h1>
}
else
{
    <div class="col-md-10 product1">
        <h1 style="color:red;text-align:center;font-weight:bold">GIỎ HÀNG</h1>
        <table class="table">
            <tr>
                <td>Mã SP</td>
                <td>Tên SP</td>
                <td>Hình ảnh</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" style="width:50px;height:50px" /></td>
                    <td>@item.SoLuong</td>
                    <td>@item.DonGia.ToString("#,##") đồng</td>
                    <td>@item.ThanhTien.ToString("#,##") đồng</td>
                    @*Truyền tham số MaSP --- Tạo nút sửa link qua trang SuaGioHang*@
                    <td>
                        @Html.ActionLink("Sửa", "SuaGioHang", new { @maSP = item.MaSP })
                        @Html.ActionLink("Xóa", "XoaGioHang", new { @maSP = item.MaSP })
                    </td>
                </tr>
            }
        </table>


        @using (Html.BeginForm("PaymentWithPaypal", "GioHang"))
        {
           
                <div class="ThongTinMuaHang">
                    <table align="center" class="table">
                        <tr>
                            <td align="center">Thông tin khách hàng</td>

                        </tr>
                        <tr>
                            <td>Họ tên</td>
                            <td>
                                @Html.TextBox("TenKH")
                                <p style="color:red" id="TB_TenKH"></p>
                            </td>

                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td>
                                @*@Html.TextArea("DiaChi")
                                    <p style="color:red" id="TB_DiaChi"></p>*@
                                @{Html.RenderAction("listProvince", "GioHang"); }
                                <select class="selectpicker Sdistrict" data-live-search="true">
                                    <option selected value=" " data-tokens="ketchup mustard">Chọn quận</option>

                                </select>
                                <select class="selectpicker Sward" data-live-search="true">
                                    <option selected data-tokens="ketchup mustard">chọn Phường</option>

                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                @Html.TextBox("Email")
                                <p style="color:red" id="ktEmail"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>
                                @Html.Hidden("DiaChi",null,new {id= "excelentAddress" })
                                @Html.TextBox("SoDienThoai")
                                <p style="color:red" id="TB_SoDienThoai"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Phương thức thanh toán</td>
                            <td>
                                <div class="mr-2 d-inline">
                                    <span>Thanh toán trực tiếp</span>
                                    @Html.CheckBox("ThanhToanTrucTiep", true, new { id = "tt" })
                                </div>



                                <span>Thanh toán quốc tế</span>
                                @Html.CheckBox("ThanhToanPaypal", false, new { id = "qt" })
                              

                            </td>
                        </tr>
                    </table>
                </div>

            


            <div class="col-md-9 divDatHang" style="text-align:left">
                <input type="submit" class="btn btn-primary" value="Đặt hàng" id="btnnDatHang" />
                @Html.ActionLink("Mua tiếp", "Index", "Home")
            </div>
        }
    </div>
}
<div class="alert alert-success  " id="ss">
    <strong>Success!</strong> Đặt hàng thành công
</div>
<div class="wait">
    <div class="loader"></div>
</div>

<script>


    function check() {
        $("[type=checkbox]").click((e) => {

            $("input:checked").not(this).prop("checked", false);

            e.target.checked = true;
        })

    }




    $(document).ready(() => {
        $("form").submit(function (event) {


            var loi = 0;
            if ($("#TenKH").val() == "") {
                loi++; //////////////
                $("#TB_TenKH").text("Tên khách hàng không được bỏ trống").show().fadeOut(3000)
                event.preventDefault();

            }
            else {

                $("#TB_TenKH").text("");
            }

            if ($("#DiaChi").val() == "") {
                loi++;//////////////
                event.preventDefault();
                $("#TB_DiaChi").text("Địa chỉ không được bỏ trống").show().fadeOut(4000)

            }

            else {

                $("#TB_DiaChi").text("");
            }
            if ($("#Email").val() == "") {
                loi++; //////////////
                event.preventDefault();
                $("#ktEmail").text("Nhập Email").show().fadeOut(6000);
            } else {
                $("#ktEmail").text("");
            }
            if ($("#SoDienThoai").val() == "") {
                loi++; ///////////////
                event.preventDefault();
                $("#TB_SoDienThoai").text("Số điện thoại không được bỏ trống").show().fadeOut(6000)

            }
            else {


                $("#TB_SoDienThoai").text("");
            }


            if (loi != 0) {

                event.preventDefault();
            } else {
              
          
                if (document.getElementById('tt').checked == true) {
                    event.preventDefault();
                    var box = document.getElementById('ss');
                    box.style.display = "block";
                    
                    setTimeout(() => {
                        box.style.display = "none";
                        $(this).unbind('submit').submit()
                    }, 2000)

                } else {
                    $(".wait").css('display', 'flex');
                    return true;
                }
              
             


            }
        });
        new check();
        $('.Scity').change((e) => {

            var selectedCity = $('.selectpicker.Scity').val();
            var base_url = location.protocol + '//' + document.domain + ':' + location.port;
            $.ajax({
                url: base_url + '/GioHang/listDistricts',
                dataType: 'html',
                method: 'post',

                data: {
                    p_name: selectedCity
                },
                success: (res) => {
                    $('.selectpicker.Sdistrict').html(res).selectpicker('refresh')

                }
            })
        })

        $('.Scity,.Sdistrict').change((e) => {

            var selectedCity = $('.selectpicker.Scity').val();
            var selectedDistrict = $('.selectpicker.Sdistrict').val();
            var base_url = location.protocol + '//' + document.domain + ':' + location.port;
            $.ajax({
                url: base_url + '/GioHang/listWards',
                dataType: 'html',
                method: 'post',

                data: {
                    tenTp: selectedCity,
                    tenQuan: selectedDistrict
                },
                success: (res) => {

                    $('.selectpicker.Sward').html(res).selectpicker('refresh')

                }
            })
        })
        ////////////////////// dia chi
        $('.Scity,.Sdistrict,.Sward').change(() => {
            var province = $('.selectpicker.Scity').val();
            var district = () => {
                return $('.selectpicker.Sdistrict').val().trim().length == 0 ? "" : `${$('.selectpicker.Sdistrict').val()}  `;
            };
            var ward = () => {
                return $('.selectpicker.Sward').val().trim().length == 0 ? "" : `${$('.selectpicker.Sward').val()}  `;
            }

         
            $('#excelentAddress').val( ward() + district() + province);

        })


    })

</script>
@section select{

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
}
@section bar{
    <style>
       
    </style>
    <div class="row">
        <ul class="lis">
            <li> <a href="/">Home</a> <span>›</span></li>
            <li> <a href="/GioHang/XemGioHang">Giỏ hàng</a> </li>
        </ul>
    </div>
   
    
    
    }