@using WebSiteBanHang.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
    <style>
        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }
    </style>
@*Tạo form tìm kiếm để sử dụng ajax*@
    <div class="row">
        @using (Ajax.BeginForm("KQTimKiemPartial", "TimKiem", new AjaxOptions { UpdateTargetId = "KQTimKiemUpdateTarget", InsertionMode = InsertionMode.Replace } , new {@class = "w-100" }))
        {
        <div>
            @*Tên name trùng với input bên Action*@
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="sTuKhoa" placeholder="Nhập tên sản phẩm..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit"  >Tìm kiếm</button>
                </div>
            </div>
          


        </div>
        }
        <br /><br />
    </div>
    
        @*Tạo div bao sử dụng UpdateTargetId*@
        
            <div class="row" id="KQTimKiemUpdateTarget">
                @foreach (var item in Model.OrderBy(n => n.DonGia))
                {
                    <div class="col-md-4 w-75  ">
                       
                            <a href="@Url.RouteUrl("XemChiTiet",new { @id=item.MaSP,@tensp=item.TenSP})" class="img-wrap">
                                <img class="rounded w-75 mx-auto d-block " src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" alt="">
                                @*<div class="pro-grid">
                                    <span class="buy-in">Mua hàng</span>
                                </div>*@
                            </a>
                      
                        <p class="tun">@item.TenSP</p>
                        @*Thẻ a nút thêm sản phẩm --- chèn Action vào*@
                        <a href="@Url.Action("ThemGioHang","GioHang",new { @MaSP = item.MaSP, @strURL = Request.Url.ToString()})" class="item_add"><p class="number item_price"><i> </i>@item.DonGia.Value.ToString("#,##") VNĐ</p></a>
                        @*@Ajax.ActionLink("Thêm giỏ hàng AJAX", "ThemGioHangAjax", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace })*@
                    </div>
                }
                <div class="clearfix"> </div>


                <div class="dlink">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
                </div>
            </div>

